/* ===================================================== */
/* SOCIAL ICONS */
/* ===================================================== */

.social-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 26px;
    height: 26px;
    padding: 3px;
}

.social-icon svg,
.social-icon svg * {
    width: 22px !important;
    height: 22px !important;
    fill: white !important;
    transition: 0.25s ease-in-out;
}

.social-icon:hover svg * {
    transform: scale(1.08);
}
