{% extends "main.html" %}
{% load static i18n %}

{% block title %}Conditions Générales d’Utilisation{% endblock %}

{% block content %}
<div class="container mt-5">
  <h1 class="mb-4">Conditions Générales d’Utilisation</h1>

  <h3>1. Acceptation des CGU</h3>
  <p>
    L'accès et l'utilisation du site <strong>{{ PROJECT_NAME|default:"Nom du projet" }}</strong> impliquent
    l'acceptation sans réserve des présentes Conditions Générales d’Utilisation.
  </p>

  <h3>2. Accès au site</h3>
  <p>
    Le site est accessible gratuitement à tout utilisateur disposant d’un accès à Internet. Tous les frais afférents à l'accès au site
    (matériel, logiciels, connexion Internet, etc.) sont à la charge de l'utilisateur.
  </p>

  <h3>3. Obligations de l'utilisateur</h3>
  <p>
    L'utilisateur s'engage à utiliser le site de manière légale, éthique et respectueuse des droits de tiers.
  </p>

  <h3>4. Responsabilités</h3>
  <p>
    <strong>{{ PROJECT_NAME|default:"Nom du projet" }}</strong> ne saurait être tenu responsable des dommages directs ou indirects
    résultant de l’utilisation du site.
  </p>

  <h3>5. Modifications</h3>
  <p>
    L’éditeur se réserve le droit de modifier à tout moment les présentes CGU. Les utilisateurs sont invités à les consulter régulièrement.
  </p>

  <h3>6. Contact</h3>
  <p>
    Pour toute question, vous pouvez nous écrire à :
    <a href="mailto:{{ CONTACT_EMAIL|default:'contact@example.com' }}">{{ CONTACT_EMAIL|default:'contact@example.com' }}</a>
  </p>
</div>
{% endblock %}
