{% load static i18n %}
{% get_current_language as LANGUAGE_CODE %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}SOGENTIS{% endblock %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="{% static 'accounts_users/css/vendors/bootstrap/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'accounts_users/css/vendors/fontawesome/css/all.min.css' %}">
  <link rel="stylesheet" href="{% static 'accounts_users/css/users_menu.css' %}" />

  {% block extra_css %}{% endblock %}
</head>
<body class="bg-light">
  {% block content %}{% endblock %}

  <script src="{% static 'accounts_users/js/vendors/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  {% block extra_js %}{% endblock %}
</body>
</html>




{% comment %} {% load static i18n %}
<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}SOGENTIS – Authentification{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'dashboard/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'dashboard/css/auth.css' %}">
  {% block extra_css %}{% endblock %}
</head>
<body class="bg-light">

  <div class="container py-5">
    <div class="row justify-content-center">
      <div class="col-md-6 col-lg-5">
        <div class="card shadow-sm border-0">
          <div class="card-body">
            <h3 class="card-title text-center mb-4">{% block form_title %}Connexion{% endblock %}</h3>
            {% block content %}{% endblock %}
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="{% static 'dashboard/js/bootstrap.bundle.min.js' %}"></script>
  {% block extra_js %}{% endblock %}
</body>
</html> {% endcomment %}
