{% extends "dashboard/base.html" %}
{% load i18n %}

{% block title %}Nouveau mot de passe | SOGENTIS{% endblock %}

{% block dashboard_header %}
  <h1 class="mb-4">🔑 Définir un nouveau mot de passe</h1>
{% endblock %}

{% block dashboard_content %}
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card shadow-sm">
        <div class="card-body">
          <form method="post">
            {% csrf_token %}
            {% if form.errors %}
              <div class="alert alert-danger">
                {{ form.errors }}
              </div>
            {% endif %}
            {{ form.new_password1.label_tag }}
            {{ form.new_password1 }}
            {{ form.new_password2.label_tag }}
            {{ form.new_password2 }}

            <button type="submit" class="btn btn-success mt-3">
              <i class="fas fa-lock me-1"></i> Mettre à jour le mot de passe
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
